.react-search-field-demo {
  padding: 1.25rem;
}

.box {
  padding: 0.625rem;
  border: 1px solid #ddd;
}

.title {
  font-size: 1.75rem;
  margin-top: 1.25rem;
}

.description {
  font-size: 1rem;
  white-space: pre-line;
}

.search-result {
  font-size: 1.25rem;
  margin: 0.9rem 0;
}

.main {
  margin: 0.9rem 0;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item {
  display: block;
}

.item > a {
  display: block;
  width: 100%;
  height: 100%;
}

.item:not(:last-child) {
  border-bottom: none;
}

.item__name {
  display: block;
  border-bottom: 1px solid #ddd;
  font-size: 1.25rem;
}

.item__name.matched {
  padding: 0;
  background-color: yellow;
}

.item__image-wrapper {
  height: 20rem;
}

.item__image {
  object-fit: contain;
  object-position: center left;
  width: 100%;
  height: 100%;
}
