{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "usage",
      "shippedProposals": true,
      "corejs": 3
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
